<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mascotas</title>
</head>
<body>
    <h1>Menu de opciones</h1>
    <hr>
    <ul>
        <li><a href="/mascotas"> Mantenimiento de Mascotas</a></li>
        <li><a href="/medicos"> Mantenimiento de Medicos</a></li>
        <li><a href="/medicamentos"> Mantenimiento de Medicamentos</a></li>
        <li><a href="/accesorios"> Mantenimiento de Accesorios</a></li>
        <li><a href="/reportes"> Reportes</a></li>
        <li><a href="/logout"> Salir</a></li>
    </ul>
    <hr>

</body>
</html>